* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
div {
  outline-style: double;
  outline-color: red;
}
.headContainer{
  display: flex;

  justify-content: center;
  flex-direction: column;
  padding: 5%;
  padding-top: 5%;
  width: 100%;
}
#p5-header{
  display: flex;
  justify-content: center;
}
